[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = test repo5
[access "refs/*"]
	owner = group user/ashelestov-ua
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ashelestov-ua
	label-Verified = -1..+1 group user/ashelestov-ua
	push = group user/ashelestov-ua
	read = group user/ashelestov-ua
	rebase = group user/ashelestov-ua
	removeReviewer = group user/ashelestov-ua
	submit = group user/ashelestov-ua
[access "refs/heads/*"]
	create = group user/ashelestov-ua
	push = +force group user/ashelestov-ua
	pushMerge = group user/ashelestov-ua
	read = group user/ashelestov-ua
[access "refs/tags/*"]
	push = group user/ashelestov-ua
	push = +force group user/ashelestov-ua
